{% extends 'home/base.html' %}
{% load static %}
{% block content %}
    <!-- content -->
    <div class="mil-content">
        <div id="swupMain" class="mil-main-transition">
            <!-- banner -->
            <div class="mil-inner-banner">
                <div class="mil-banner-content mil-center mil-up">
                    <div class="container">
                        <ul class="mil-breadcrumbs mil-center mil-mb-60">
                            <li><a href="{% url 'home' %}">Homepage</a></li>
                            <li><a href="{% url 'blogs' %}">Blog</a></li>
                            <li><a>Publication</a></li>
                        </ul>
                        <h2>How to Become a <span class="mil-thin">Graphic</span><br> Designer in <span
                                class="mil-thin">10 Simple Steps</span>
                        </h2>
                    </div>
                </div>
            </div>
            <!-- banner end -->
            <!-- publication -->
            <section id="blog">
                <div class="container mil-p-120-90">
                    <div class="row justify-content-center">
                        <div class="col-lg-12">
                            <div class="mil-image-frame mil-horizontal mil-up">
                                {% if blog.thumbnail %}
                                    <img src="{{ blog.thumbnail.url }}" alt="{{ blog.title }}" class="mil-scale"
                                         data-value-1=".90" data-value-2="1.15">
                                {% else %}
                                    <img src="{% static 'home/img/blog/default.png' %}" alt="Default cover"
                                         class="mil-scale" data-value-1=".90" data-value-2="1.15">
                                {% endif %}
                            </div>
                            <div class="mil-info mil-up mil-mb-90">
                                <div>Category: &nbsp;<span class="mil-dark">{{ blog.category }}</span></div>
                                <div>Date: &nbsp;<span class="mil-dark">{{ blog.created_at|date:"F Y" }}</span></div>
                                <div>Author: &nbsp;<span class="mil-dark">Paul Trueman</span></div>
                            </div>
                        </div>
                        <div class="col-lg-8">
                            {{ blog.content|safe }}
                            {#                            <p class="mil-text-xl mil-dark mil-up mil-mb-60">Are you passionate about design and#}
                            {#                                interested#}
                            {#                                in pursuing a career as a graphic designer? Graphic design is a dynamic field that#}
                            {#                                combines#}
                            {#                                creativity, technical skills, and a keen eye for aesthetics. Whether you're a beginner#}
                            {#                                or#}
                            {#                                someone looking to enhance their skills, this article will guide you through 10 simple#}
                            {#                                steps#}
                            {#                                to become a graphic designer.#}
                            {#                            </p>#}
                            {#                            <blockquote class="mil-up mil-mb-60">"Creativity is intelligence having fun." - Albert#}
                            {#                                Einstein#}
                            {#                            </blockquote>#}
                            {#                            <h5 class="mil-up mil-mb-30">Understand the Field</h5>#}
                            {#                            <div class="row">#}
                            {#                                <div class="col-lg-6">#}
                            {#                                    <div class="mil-image-frame mil-horizontal mil-up mil-mb-30">#}
                            {#                                        <img src="{% static 'home/img/blog/4.jpg' %}" alt="Publication cover">#}
                            {#                                    </div>#}
                            {#                                </div>#}
                            {#                                <div class="col-lg-6">#}
                            {#                                    <div class="mil-image-frame mil-horizontal mil-up mil-mb-60">#}
                            {#                                        <img src="{% static 'home/img/blog/7.jpg' %}" alt="Publication cover">#}
                            {#                                    </div>#}
                            {#                                </div>#}
                            {#                            </div>#}
                        </div>
                    </div>
                </div>
            </section>
            <!-- publication end -->
            <!-- similar -->
            <section class="mil-soft-bg">
                <div class="container mil-p-120-60">
                    <div class="row align-items-center mil-mb-30">
                        <div class="col-lg-6 mil-mb-30">
                            <h3 class="mil-up">Similar Topics:</h3>
                        </div>
                        <div class="col-lg-6 mil-mb-30">
                            <div class="mil-adaptive-right mil-up">
                                <a href="{% url 'blogs' %}" class="mil-link mil-dark mil-arrow-place">
                                    <span>View all</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        {% for blog in similar_blogs %}
                            <div class="col-lg-6">
                                <a href="{% url 'post_detail' blog.slug %}" class="mil-blog-card mil-mb-60">
                                    <div class="mil-cover-frame mil-up">
                                        {% if blog.thumbnail %}
                                            <img src="{{ blog.thumbnail.url }}" alt="{{ blog.title }}">
                                        {% else %}
                                            <img src="{% static 'home/img/blog/default.png' %}" alt="cover">
                                        {% endif %}
                                    </div>
                                    <div class="mil-post-descr">
                                        <div class="mil-labels mil-up mil-mb-30">
                                            <div class="mil-label mil-upper mil-accent">{{ blog.category }}</div>
                                            <div class="mil-label mil-upper">{{ blog.created_at|date:"F Y" }}</div>
                                        </div>
                                        <h4 class="mil-up mil-mb-30">{{ blog.title|truncatechars:'75' }}</h4>
                                        <p class="mil-post-text mil-up mil-mb-30">{{ blog.content }}</p>
                                        <div class="mil-link mil-dark mil-arrow-place mil-up">
                                            <span>Read more</span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        {% empty %}
                            <div class="col-lg-12">
                                <p>No similar blogs to display.</p>
                            </div>
                        {% endfor %}
                    </div>
            </section>
            <!-- similar end -->
        </div>
    </div>
    <!-- content -->
{% endblock %}