<div class="mil-menu-right-frame">
    <div class="mil-animation-in">
        <div class="mil-animation-frame">
            <div class="mil-animation mil-position-1 mil-scale" data-value-1="2" data-value-2="2"></div>
        </div>
    </div>
    <div class="mil-menu-right">
        <div class="row">
            <div class="col-lg-8 mil-mb-60">
                <h6 class="mil-muted mil-mb-30">Projects</h6>
                <ul class="mil-menu-list">
                    <li><a href="#" class="mil-light-soft">Create websites</a></li>
                </ul>
            </div>
            <div class="col-lg-4 mil-mb-60">
                <h6 class="mil-muted mil-mb-30">Useful links</h6>
                <ul class="mil-menu-list">
                    <li></li>
                </ul>
            </div>
        </div>
        <div class="mil-divider mil-mb-60"></div>
        <div class="row justify-content-between">
            <div class="col-lg-4 mil-mb-60">
                <h6 class="mil-muted mil-mb-30">Indonesia</h6>
                <p class="mil-light-soft mil-up">Jl. Batu Besaung, Samarinda City, East Borneo <span class="mil-no-wrap">+62 813 4708 5447 </span>
                </p>
            </div>
            <div class="col-lg-4 mil-mb-60">
            </div>
        </div>
    </div>
</div>