<div class="mil-preloader">
    <div class="mil-preloader-animation">
        <div class="mil-pos-abs mil-animation-1">
            <p class="mil-h3 mil-muted mil-thin">Makan</p>
            <p class="mil-h3 mil-muted">Ngoding</p>
            <p class="mil-h3 mil-muted mil-thin">Turu</p>
            <p class="mil-h3 mil-muted">Repeat</p>
        </div>
        <div class="mil-pos-abs mil-animation-2">
            <div class="mil-reveal-frame">
                <p class="mil-reveal-box"></p>
                <p class="mil-h3 mil-muted mil-thin">akhmadqasim.com</p>
            </div>
        </div>
    </div>
</div>